<template>
  <div>
    <v-row class="mb-0">
      <v-col class="pb-0">
        <div class="d-flex justify-space-between ">
          <h4 class="align-self-center">
            {{ shift.date }}
          </h4>
          <v-btn icon @click="$emit('delete', shift)">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="pt-0">
        <v-form ref="form" lazy-validation>
          <v-card class="primary">
            <v-row class="px-3">
              <v-col cols="4" class="my-0">
                <v-subheader class="px-0 white--text">
                  StartTime
                </v-subheader>
                <v-menu
                  ref="startTimeMenu"
                  v-model="startTimeMenu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="shiftClone.startTime"
                      append-icon="mdi-clock-time-four-outline"
                      readonly
                      :rules="validationRulesTime"
                      background-color="white"
                      dense
                      single-line
                      outlined
                      v-bind="attrs"
                      v-on="on"
                    />
                  </template>
                  <v-time-picker
                    v-model="shiftClone.startTime"
                    color="primary lighten-1"
                    format="24hr"
                    full-width
                    @click:minute="saveStartTime"
                  />
                </v-menu>
              </v-col>
              <v-col cols="4" class="my-0">
                <v-subheader class="px-0 white--text">
                  EndTime
                </v-subheader>
                <v-menu
                  ref="endTimeMenu"
                  v-model="endTimeMenu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="shiftClone.endTime"
                      append-icon="mdi-clock-time-four-outline"
                      readonly
                      :rules="validationRulesTime"
                      background-color="white"
                      dense
                      single-line
                      outlined
                      v-bind="attrs"
                      v-on="on"
                    />
                  </template>
                  <v-time-picker
                    v-model="shiftClone.endTime"
                    :min="shiftClone.startTime"
                    color="primary lighten-1"
                    format="24hr"
                    full-width
                    @click:minute="saveEndTime"
                  />
                </v-menu>
              </v-col>
              <v-col cols="4" class="my-0">
                <v-subheader class="px-0 white--text">
                  Title
                </v-subheader>
                <v-text-field
                  v-model.number="shiftClone.price"
                  append-icon="mdi-currency-eur"
                  background-color="white"
                  :rules="validationRulesPrice"
                  dense
                  single-line
                  outlined
                />
              </v-col>
              <v-col cols="12" class="mt-0 py-0">
                <v-subheader class="px-0 white--text">
                  Type
                </v-subheader>
                <v-select
                  v-model="shiftClone.type"
                  :rules="validationRulesType"
                  :items="['Consultation','Telephone','Ambulance']"
                  dense
                  outlined
                  background-color="white"
                />
              </v-col>
              <div
                v-if="isIntersected"
                class="mx-4 mb-2 v-messages error--text"
              >
                This activity has already been selected
              </div>
            </v-row>
          </v-card>
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    shift: {
      type: Object,
      required: true
    },
    id: {
      type: [String, Number],
      required: true
    }
  },
  data () {
    return {
      shiftClone: {},
      startTimeMenu: null,
      endTimeMenu: null,

      validationRulesTime: [v => !!v || 'required'],
      validationRulesPrice: [v => !!v || 'required', v => /^\d+(?:\.?\d{0,2})$/.test(v) || 'invalid price'],
      validationRulesType: [v => !!v || 'required']
    }
  },
  computed: {
    ...mapGetters(['getVacanciesAllDates']),

    isIntersected () {
      const possibleCollisionArr = this.getVacanciesAllDates.filter(
        el => el.date === this.shiftClone.date &&
        el.type === this.shiftClone.type &&
        el.id !== this.id)

      return possibleCollisionArr.some(
        interval => this.shiftClone.startTime < interval.endTime && interval.startTime < this.shiftClone.endTime
      )
    }
  },
  mounted () {
    this.shiftClone = JSON.parse(JSON.stringify(this.shift))
    this.$refs.form.resetValidation()
  },
  methods: {
    saveStartTime () {
      this.startTimeMenu = false
      if (this.shiftClone.endTime && this.shiftClone.endTime < this.shiftClone.startTime) {
        this.shiftClone.endTime = null
      }
    },
    saveEndTime () {
      this.endTimeMenu = false
    },
    isFormValid () {
      const valid = this.$refs.form.validate() && !this.isIntersected
      if (valid) {
        this.$emit('update', this.shiftClone)
      }
      return valid
    }
  }
}
</script>

<style scoped>
.v-input, .v-label {
    font-size: 0.9em;
  }
</style>
