<template>
  <v-navigation-drawer
    v-model="drawer"
    stateless
    disable-resize-watcher
    disable-route-watcher
    class="elevation-15"
    hide-overlay
    clipped
    fixed
    app
    width="450"
    right
  >
    <div class="d-flex justify-space-between">
      <h1 class="ma-4 underscore">
        {{ titleAction }}
      </h1>
      <v-btn class="mr-2 align-self-center" icon @click="closeDrawer">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </div>
    <v-form ref="form" class="mx-4" lazy-validation>
      <v-row class="mr-1">
        <v-col cols="12">
          <v-subheader class="px-0">
            Title
          </v-subheader>
          <v-text-field
            v-model="vacancy.title"
            :rules="validationRulesTitle"
            class="my-0"
            dense
            single-line
            outlined
          />
          <v-subheader class="px-0">
            Descrtiption
          </v-subheader>
          <v-textarea
            v-model="vacancy.description"
            :rules="validationRulesDescription"
            height="110"
            outlined
          />

          <v-subheader class="px-0">
            Dates
          </v-subheader>

          <v-menu
            ref="menu"
            v-model="menuDatePickerState"
            :close-on-content-click="false"
            :close-on-click="false"
            :return-value.sync="datesSelected"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="datesPreview"
                :rules="validationRulesDate"
                dense
                append-icon="mdi-calendar"
                outlined
                readonly
                v-bind="attrs"
                v-on="on"
              />
            </template>
            <v-date-picker
              v-model="datesPreview"
              multiple
              no-title
              scrollable
            >
              <v-spacer />
              <v-btn
                text
                color="primary"
                @click="menuDatePickerState = false"
              >
                Cancel
              </v-btn>
              <v-btn
                text
                color="primary"
                @click="$refs.menu.save(datesPreview)"
              >
                OK
              </v-btn>
            </v-date-picker>
          </v-menu>
          <template v-for="shift in vacancy.dates">
            <c-vacancy-drawer-shift
              :id="vacancy.id"
              :key="`${vacancy.id}-${shift.date}`"
              :ref="`${vacancy.id}-${shift.date}`"
              :shift="shift"
              @update="onShiftUpdated"
              @delete="onShiftsDeleted"
            />
          </template>
          <div :class="['d-flex mt-2', isEditAction ? 'justify-space-between' : 'justify-end']">
            <v-btn
              v-if="isEditAction"
              class="rounded"
              width="45%"
              outlined
              @click="deleteVacancy"
            >
              delete
            </v-btn>
            <v-btn
              class="rounded"
              width="45%"
              dark
              @click="saveVacancy"
            >
              save
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-form>
  </v-navigation-drawer>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import CVacancyDrawerShift from '~/components/CVacancyDrawerShift'

export default {
  components: {
    CVacancyDrawerShift
  },
  model: {
    prop: 'drawer',
    event: 'input'
  },
  props: {
    drawer: {
      type: Boolean,
      default: false
    },
    action: {
      type: String,
      default: 'create'
    }
  },
  data () {
    return {
      vacancy: {},
      menuDatePickerState: null,
      datesPreview: [],
      datesSelected: [],
      validationRulesDate: [
        v => v.length > 0 || 'pick a date',
        v => (v !== undefined && v.length <= 10) || 'max 10 dates'
      ],
      validationRulesTitle: [
        v => !!v || 'required',
        v => (v !== undefined && v.length <= 100) || 'max 100'
      ],
      validationRulesDescription: [
        v => (v !== undefined && v.length <= 500) || 'max 500'
      ]
    }
  },
  computed: {
    ...mapState([
      'selectedVacancy',
      'defaultShift']),

    titleAction () {
      return this.action === 'create' ? 'Create' : 'Edit'
    },
    isEditAction () {
      return this.action === 'edit'
    },
    currentDates () {
      const hasDates = Object.prototype.hasOwnProperty.call(this.vacancy, 'dates')
      return hasDates ? this.vacancy.dates.map(el => el.date) : []
    }

  },
  watch: {
    selectedVacancy () {
      this.cloneVacancy()
      this.updateDates()
      this.$refs.form.resetValidation()
    },
    datesSelected (newArr) {
      this.datesPreview = newArr
      const newElements = newArr.filter(value => !this.currentDates.includes(value))
      const deletedElements = this.currentDates.filter(value => !newArr.includes(value))
      if (newElements.length) {
        newElements.forEach((element) => {
          this.addShift(element)
        })
      }
      if (deletedElements.length) {
        this.onShiftsDeleted(deletedElements, 'array')
      }
    },
    menuDatePickerState () {
      this.updateDates()
    }
  },
  methods: {
    ...mapMutations([
      'ADD_NEW_VACANCY',
      'EDIT_VACANCY',
      'DELETE_VACANCY',
      'CLEAR_SELECTED_VACANCY']),

    closeDrawer () {
      this.$emit('input', false)
      setTimeout(() => {
        this.CLEAR_SELECTED_VACANCY()
      }, 500)
    },
    cloneVacancy () {
      this.vacancy = JSON.parse(JSON.stringify(this.selectedVacancy))
    },
    onShiftsDeleted (payload, role) {
      role = role || 'object'
      if (role === 'object') { this.vacancy.dates = this.vacancy.dates.filter(el => el.date !== payload.date) }
      if (role === 'array') { this.vacancy.dates = this.vacancy.dates.filter(el => !payload.includes(el.date)) }
      this.updateDates()
    },
    onShiftUpdated (shift) {
      this.vacancy.dates.forEach((el, i, arr) => {
        if (el.date === shift.date) {
          arr[i] = shift
        }
      })
    },
    updateDates () {
      this.datesPreview = this.datesSelected = this.currentDates
    },
    addShift (date) {
      const tmpDate = Object.assign({}, this.defaultShift)
      tmpDate.date = date
      this.vacancy.dates.push(tmpDate)
    },
    isFormValid () {
      const isDateInputValid = this.$refs.form.validate()
      const isDates = this.currentDates.length > 0
      const childValid = []

      for (const key of this.vacancy.dates) {
        const ref = `${this.vacancy.id}-${key.date}`
        childValid.push(this.$refs[ref][0].isFormValid())
      }
      const isChildFormsValid = childValid.every(el => el)

      return isDateInputValid && isChildFormsValid && isDates
    },
    saveVacancy () {
      if (!this.isFormValid()) { return }
      this.action === 'create'
        ? this.ADD_NEW_VACANCY(this.vacancy)
        : this.EDIT_VACANCY(this.vacancy)

      this.closeDrawer()
    },
    deleteVacancy () {
      this.DELETE_VACANCY(this.vacancy)
      this.closeDrawer()
    }
  }

}
</script>

<style scoped>
h1 {
    font-size: 2em;
}
.v-input, .v-label {
    font-size: 0.9em;
}
</style>
