<template>
  <v-card class="elevation-8 px-4 my-4 pb-1" width="auto">
    <div class="d-flex justify-space-between">
      <v-card-title class="py-0">
        {{ vacancy.title }}
      </v-card-title>
      <v-card-actions>
        <v-btn
          fab
          small
          text
          @click="edit"
        >
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
      </v-card-actions>
    </div>
    <v-card-text>
      {{ vacancy.description }}
    </v-card-text>
    <v-card-title class="py-0">
      Dates
    </v-card-title>
    <v-list class="ma-2">
      <v-list-item
        v-for="(date,i) in vacancy.dates"
        :key="`${date.date}-${date.startTime}-${i}`"
        dark
        class="primary rounded mb-2"
      >
        <v-row>
          <v-col cols="3">
            <div>{{ date.date }}</div>
          </v-col>
          <v-col cols="2">
            <div>{{ date.startTime }}</div>
          </v-col>
          <v-col cols="2">
            <div>{{ date.endTime }}</div>
          </v-col>
          <v-col cols="3">
            <div>{{ date.type }}</div>
          </v-col>
          <v-col cols="2" class="align-end">
            <div>{{ date.price }}</div>
          </v-col>
        </v-row>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script>
export default {
  props: {
    vacancy: {
      type: Object,
      default: () => { return {} }
    }
  },
  methods: {
    edit () {
      this.$emit('edit', this.vacancy)
    }
  }
}
</script>
