<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="10" md="8" lg="6">
      <v-row>
        <v-col>
          <h1 class="underscore">
            Filter
          </h1>
          <div class="d-flex mt-2">
            <div class="text-subtitle mr-4">
              Filter on price
            </div>
            <v-range-slider
              v-model="rangeSlider"
              :max="getMaxPrice"
              :min="0"
              thumb-label="always"
            />
            <v-spacer />
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <div class="d-flex justify-space-between">
            <h1 class="underscore">
              Shifts
            </h1>
            <v-btn
              dark
              class="rounded"
              @click="createVacancy"
            >
              Add shift
            </v-btn>
          </div>
          <v-slide-y-transition group>
            <template v-for="vacancy in filteredVacancies">
              <c-vacancy
                :key="vacancy.id"
                :vacancy="vacancy"
                @edit="editVacancy"
              />
            </template>
          </v-slide-y-transition>
        </v-col>
      </v-row>
      <c-vacancy-drawer
        v-model="drawer"
        :action="action"
      />
    </v-col>
  </v-row>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'
import CVacancy from '~/components/CVacancy.vue'
import CVacancyDrawer from '~/components/CVacancyDrawer'

export default {
  name: 'CRUD',
  components: {
    CVacancy,
    CVacancyDrawer
  },
  fetch () {
    this.$store.dispatch('setExampleData')
  },
  data () {
    return {
      rangeSlider: [0, 0],
      drawer: false,
      action: ''
    }
  },
  computed: {
    ...mapState(['vacancies']),
    ...mapGetters(['getMinPrice', 'getMaxPrice']),

    filteredVacancies () {
      const min = this.rangeSlider[0]
      const max = this.rangeSlider[1]
      let cloneVacancies = JSON.parse(JSON.stringify(this.vacancies))
      cloneVacancies = cloneVacancies.map((el) => {
        el.dates = el.dates.filter(item => item.price >= min && item.price <= max)
        return el
      })
      return cloneVacancies.filter(el => el.dates.length)
    }
  },
  watch: {
    getMaxPrice () {
      this.rangeSlider = [this.rangeSlider[0], this.getMaxPrice]
    }
  },
  beforeMount () {
    this.rangeSlider = [this.rangeSlider[0], this.getMaxPrice]
  },
  methods: {
    ...mapMutations(['SET_SELECTED_VACANCY']),

    generateId () {
      return Math.random().toString(36).substr(2, 9)
    },
    createVacancy () {
      this.action = 'create'
      this.drawer = true
      this.SET_SELECTED_VACANCY({
        id: this.generateId(),
        title: '',
        description: '',
        dates: []
      })
    },
    editVacancy (item) {
      this.action = 'edit'
      this.drawer = true
      this.SET_SELECTED_VACANCY(item)
    }
  }
}
</script>
